<!-- Card Template -->
<div
  class="relative z-10 hidden"
  aria-labelledby="modal-title"
  role="dialog"
  aria-modal="true"
  id="learn-more-modal"
>
  <script id="learnMoreTemplate" type="text/x-handlebars-template">
    <div
      class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"
    ></div>

    <div class="fixed inset-0 z-10 overflow-y-auto">
      <div
        class="flex min-h-full items-end justify-center p-4 text-center sm:items-center sm:p-0"
      >
        <!--
          Modal panel, show/hide based on modal state.

          Entering: "ease-out duration-300"
            From: "opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
            To: "opacity-100 translate-y-0 sm:scale-100"
          Leaving: "ease-in duration-200"
            From: "opacity-100 translate-y-0 sm:scale-100"
            To: "opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
        -->
        <div
          class="relative transform overflow-hidden rounded-lg bg-white text-left shadow-xl transition-all sm:my-8 sm:w-full sm:max-w-lg"
        >
          <div class="bg-white px-4 pb-4 pt-5 sm:p-6 sm:pb-4">
            <div class="sm:flex sm:items-start">
              <div class="mt-3 text-center sm:ml-4 sm:mt-0 sm:text-left">
                <div class="grid">
                  <div class="grid col-span-1">
                    <img class="max-h-10 max-w-10 mt-5" src={{logo}} />
                  </div>

                  <h3
                    class="inline-block text-center align-center font-semibold leading-6 text-gray-900"
                    id="modal-title"
                  >
                    {{company_name}}
                    -
                    {{job_title}}

                  </h3>
                  <hr />
                </div>

                <div class="mt-2 col-span-2 text-center pt-5">
                  <p class="text-sm text-gray-500 pb-5">

                    {{location}}
                    -
                    {{salary_range}}
                  </p>
                  <p class="text-sm text-gray-500 pb-5">
                    <strong>Requirements</strong>
                    {{requirements}}
                  </p>
                  <p class="text-sm text-gray-500 pb-5">
                    <strong>Responsibilities</strong>
                    {{responsibilities}}
                  </p>
                  <p class="text-sm text-gray-500 pb-5">
                    {{employment_type}}
                    -
                    {{experience_level}}
                    -
                    {{education_required}}
                  </p>

                  <p class="text-sm text-gray-500 inline">
                    <strong>Date Posted</strong>
                    {{job_post_date}}
                  </p>
                </div>
              </div>
            </div>
          </div>

          <div class="bg-gray-50 px-4 py-3 sm:flex sm:flex-row-reverse sm:px-6">
            <button
              type="button"
              class="mt-3 inline-flex w-full justify-center rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50 sm:mt-0 sm:w-auto"
              onclick="hideLearnMoreModal()"
            >
              Back
            </button>
          </div>
        </div>
      </div>
    </div>
  </script>
</div>
