<nav class="bg-slate-800 p-2">
  <div>
    <div class="flex justify-between items-center px-4 py-3">
      <div id="logo" class="flex items-center">
        <a href="/" class="text-lg font-semibold">
          <img src="/assets/logo.png" alt="logo" class="h-8 w-8 mr-2 inline" />
          <span class="text-lg font-semibold text-white">CareerHub</span>
        </a>
      </div>
      <div>
        <a href="#find-jobs" class="text-lg header-link">Find Jobs </a>
        <a href="#" class="text-lg header-link">About Us </a>
      </div>

      <div class="flex items-center">
        <a href="/login" class="text-sm header-link">Login</a>
        <a href="/register" class="text-sm header-link">Register</a>
      </div>
    </div>
  </div>
</nav>
